<!doctype html><html><head>
  <meta charset=utf8>
  <title>Solucions DSU</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <style>
    body{
      background:white;
      font-family:sans-serif;
    }
    a{
      color:#00ace5;
    }
    nav span{
      display:inline-block;
      padding-right:1em;
      color:#666;
      cursor:pointer;
      font-weight:bold;
      font-size:larger;
    }
    nav span:hover{
      text-decoration:underline;
    }
    nav span[pagina_actual=true]{
      color:#00ace5;
    }
    table{
      border-collapse:collapse;
    }
    th{
      text-align:left;
    }
    div.retingut{
      display:inline-block;
      border:1px solid #ccc;
      border-radius:5px;
      padding:0px 2px;
      font-size:smaller;
    }
    div.retingut[retingut=false]{
      text-decoration:line-through;
      background:#efefef;
    }
    div.retingut[retingut=true]{
      background:lightgreen;
      background:rgb(60,179,113);
      color:white;
    }
    div.selecciona_funcions{
      position:sticky;
      top:0;
      background:white;
      box-shadow:0 0 1px;
      padding:10px;
    }
    button.btn_bonic{
      background:white;
      border:1px solid #00ace5;
      color:#00ace5;
      cursor: pointer;
      font-size:12px;
      padding:0.618em 1em;
      margin-right:1px;
    }
    button.btn_bonic:hover{
      background:linear-gradient(267.47deg,#bde4f7 -89.5%,#00ace5 96.26%);
      color: white;
    }
    p{
      font-size:18px;
      line-height:1.5em;
    }

    .gradient_blau{
      background:linear-gradient(267.47deg,#bde4f7 -89.5%,#00ace5 96.26%);
      color:white;
    }
  </style>

  <!--css logos-->
  <style>
    div.logos img{
      border:1px solid transparent;
    }
    div.logos img:hover{
      border-color:#ccc;
      cursor:pointer;
    }
  </style>
</head><body>

<H1>SOLUCIONS PER A LA MITIGACIÓ DE LES DSUS</H1>

<div id=app>
  <nav
    style="
      padding-bottom:1em;
    "
  >
    <span v-for="obj,key in pagines"
      @click="pagina_actual=key"
      :pagina_actual="pagina_actual==key"
    >
      {{obj.text}}
    </span>
  </nav>

  <div v-show="pagina_actual=='buscar_solucio'">
    <div class=selecciona_funcions>
      <div><b>Selecciona les funcions desitjades:</b></div>
      <div>
        <label><input type=checkbox v-model="filtres.retencio_aigua">    Retenció aigua</label><br>
        <label><input type=checkbox v-model="filtres.retencio_gruixuts"> Retenció gruixuts i flotants</label><br>
        <label><input type=checkbox v-model="filtres.retencio_TSS">      Retenció sòlids suspensió totals</label><br>
        <label><input type=checkbox v-model="filtres.retencio_solubles"> Retenció solubles</label><br>
      </div>
    </div>

    <!--resultats-->
    <div
      style="
        background:#efefef;
        padding:10px;
        box-shadow:0 0 1px;
      "
    >
      <div>
        <b>Resultats ({{get_solucions.length}} de {{solucions.length}} solucions):</b>
        <span v-if="get_solucions.length==0" style="color:#666">
          ~no hi ha cap solució amb les funcions que has seleccionat
        </span>
        <span v-if="get_solucions.length==solucions.length" style="color:#666">
          ~estàs veient totes les solucions
        </span>
      </div>

      <div
        style="
          display:grid;
          grid-template-columns:repeat(auto-fill, minmax(min(400px, 100%), 1fr));
          grid-gap:8px 4px;
          margin-top:10px;
        "
        v-if="get_solucions.length"
      >
        <div v-for="solucio in get_solucions">
          <table border=1 style="background:white">
            <tr>
              <th
                colspan=2
                class=gradient_blau
                style="
                  font-size:larger;
                  padding:0.2em;
                "
              >{{solucio.nom}}</th>
            </tr>

            <tr>
              <td>Retenció:</td>
              <td>
                <div>
                  <div class=retingut :retingut="solucio.retencio_aigua">   Aigua</div>
                  <div class=retingut :retingut="solucio.retencio_gruixuts">Gruixuts i flotants</div>
                  <div class=retingut :retingut="solucio.retencio_TSS">     Sòlids suspensió totals</div>
                  <div class=retingut :retingut="solucio.retencio_solubles">Solubles</div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Lloc instal·lació:
              <td>{{solucio.lloc_instalacio}}
            </tr>
            <tr>
              <td>Recomanació:
              <td>{{solucio.recomanacio}}
            </tr>
            <tr>
              <td>Neteja automàtica:
              <td>{{solucio.neteja_automatica?"Sí":"No"}}
            </tr>
            <tr>
              <td>Necessita energia:
              <td>{{solucio.energia?"Sí":"No"}}
            </tr>
            <tr v-if="solucio.cobeneficis">
              <td>Co-beneficis:
              <td>{{solucio.cobeneficis?"Sí":"No"}}
            </tr>

            <tr>
              <td>Més info:</td>
              <td>
                <div
                  style="
                    display:flex;
                    align-items:center;
                  "
                >
                  <button class=btn_bonic @click="descarrega_pdf(solucio)">&DownArrowBar; Full característiques (PDF)</button>
                  <button class=btn_bonic @click="veure_en_3d(solucio)">&#9715; Veure en 3D</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div v-show="pagina_actual=='mapa_experiencies'">
    <p>
      Aquest mapa aglutina les experiències de solucions anti-DSU que
      existeixen a Catalunya. Es tracta d’un mapa cooperatiu, que s’ha nodrit
      inicialment amb informació recollida per l’Institut Català de Recerca de
      l’Aigua, però que va creixent amb l’aportació de les diferents entitats
      que vulguin visibilitzar les seves solucions.
    </p>
    <p>
      Envia un correu a 
      <a href="mailto:lcorominas@icra.cat">lcorominas@icra.cat</a>
      amb la descripció de la solució, amb fotos, i localització, i l’afegirem.
      Animeu-vos a afegir les vostres experiències!
    </p>

    <iframe src="https://www.google.com/maps/d/embed?mid=15s9C7Mz0_HVfrebZEBqw9mV_VSuZQSA&ehbc=2E312F" width="640" height="480"></iframe>
  </div>

  <div v-show="pagina_actual=='inici'">
    <div
      style="
        background:url(img/imatge1.webp);
        background-size: cover;
        padding:6.18em 10em;
        color:white;
      "
    >
      <div style="font-size:50px">
        Què són les DSUs?
      </div>
      <p>
        Les "descàrregues del sistema de sanejament en episodis de pluja (DSUs)” son
        els sobreeiximents d’aigües residuals urbanes no tractades procedents de
        col·lectors d’un sistema de sanejament en episodis de pluja, el destí del
        qual és el medi receptor. Com a resultat, les aigües residuals, que
        normalment serien tractades i processades en instal·lacions de sanejament,
        es descarreguen directament o indirectament en rius, corrents d'aigua o
        altres cossos d'aigua superficials. Aquesta descàrrega pot contenir
        contaminants i substàncies no tractades, i pot tenir un impacte negatiu en
        la qualitat de l'aigua i l'ecosistema aquàtic dels cossos d'aigua
        receptors. Per mitigar aquest impacte, es poden implementar mesures de
        control i gestió de les pluges intenses i ampliar la capacitat dels
        sistemes de sanejament.
      </p>
    </div>

    <div
      style="
        display:grid;
        grid-template-columns:repeat(2,1fr);
      "
    >
      <div
        style="
          font-size:40px;
          padding:1em;
        "
      >
        Per què calen solucions per minimitzar els efectes de les DSUs?
      </div>

      <p
        style="
          padding:2em;
          padding-top:1em;
        "
      >
        Les DSUs impacten negativament el medi aquàtic. Per tal de mitigar aquest
        impacte, es poden implementar solucions que minimitzin el volum
        descarregat, però també que redueixin la contaminació associada. Aquesta
        contaminació pot ser en forma de residus sòlids gruixuts i flotants (tamany
        de partícula superior a 10mm), en forma de sòlids en suspensió (tamany de
        partícula entre 0,45 micres i 10mm, o bé en forma dissolta (tamany de
        partícula inferior a 0,45 micres). El RD665/2023 indica l’obligatorietat de
        dotar el sistema de sanejament dels elements pertinents per reduir la
        contaminació de les DSUs.
      </p>
    </div>

    <div
      class=gradient_blau
      style="
        padding:6.18em 10em;
      "
    >
      <div
        style="
          font-size:40px;
          text-align:center;
          margin-bottom:20px;
        "
      >
        TROBA LA TEVA SOLUCIÓ
      </div>
      <p>
        Explora les diferents solucions que poden ajudar la teva comunitat a
        implementar solucions anti-DSU. Pots filtrar les solucions segons la
        seva funció principal (retenció d’aigua, retenció de sòlids gruixuts i
        flotants, retenció sòlids en suspensió o eliminació de contaminants
        dissolts). Per cada solució podràs descarregar un full informatiu amb
        les característiques principals i un resum de les condicions adients
        per la seva instal·lació. També s’inclou un llistat de proveïdors
        potencials. Si ets un proveïdor que et vols visibilitzar envia’ns un
        correu electrònic.
      </p>
    </div>
  </div>

  <div v-show="pagina_actual=='qui_som'">
    <p>
      Aquesta guia s’ha desenvolupat en un projecte fruit de la col·laboració
      entre l’ICRA, Aigües de Manresa, ABM i l’Agència Catalana de l’Aigua.
      S’ha recopil·lat informació de la bibliografia, s’ha contactat amb
      proveïdors i s’ha consultat experts en la matèria mitjançant un taller
      organitzat a l’ICRA el 22 de novembre de 2022, i mitjançant entrevistes
      individuals.
    </p>

    <div
      style="
        display:flex;
        align-items:center;
      "
    >
      <div>
        <a href="pdf/material_taller.pdf" target=_blank>
          &DownArrowBar;
          Material Taller (PDF)
        </a>
      </div>
      <div style="margin:0 10px">&mdash;</div>
      <div>
        <a href="https://github.com/icra/solucions-dsu" target=_blank>
          Codi Font (GitHub)
        </a>
      </div>
    </div>

    <div
      style="
        margin-top:1em;
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(min(200px, 100%), 1fr));
        grid-gap:10px 1px;
      "
    >
      <div v-for="autor in autors">
        <img :src="autor.foto" style="width:200px;height:230px"><br>
        <b>{{autor.nom}}</b><br>
        <span>{{autor.afiliació}}</span><br>
        <a :href="`mailto:`+autor.correu">{{autor.correu}}</a><br>
      </div>
    </div>

    <div
      class=logos
      style="
        margin-top:1em;
        background:#efefef;
        color:#666;
        padding:3.09em 5em;
      "
    >
      <div
        style="
          display:flex;
          align-items:center;
          font-size:18px;
        "
      >
        <div>
          <img style="width:200px" src="img/icra.png" @click="obre_link('icra.cat')">
        </div>
        <div>
          ICRA<br>
          Carrer Emili Grahit, 101, Edifici H2O, Parc Científic i tecnològic de la Universitat de Girona.<br>
          Telèfon: 972183380.<br>
          Email: <a href="mailto:lcorominas@icra.cat">lcorominas@icra.cat</a><br>
        </div>
      </div>

      <!--logos-->
      <div
        style="
          margin-top:1em;
          display:flex;
          align-items:center;
          justify-content:space-between;
        "
      >
        <img style="width:200px" src="img/aca.png"  @click="obre_link('aca.gencat.cat')">
        <img style="width:200px" src="img/adm.png"  @click="obre_link('www.aiguesmanresa.cat')">
        <img style="width:200px" src="img/abm.png"  @click="obre_link('www.abm.cat')">
      </div>
    </div>
  </div>
</div>

<script>
  let app=Vue.createApp({
    data(){return {
      pagina_actual:"inici",
      pagines:{
        inici:{text:"INICI"},
        buscar_solucio:{text:"TROBAR UNA SOLUCIÓ"},
        mapa_experiencies:{text:"MAPA D'EXPERIÈNCIES"},
        qui_som:{text:"QUI SOM"},
      },

      filtres:{
        retencio_aigua:false,
        retencio_gruixuts:false,
        retencio_TSS:false,
        retencio_solubles:false,
      },

      solucions:[
        {
          nom               : "Tanc Anti-DSU",
          retencio_aigua    : true,
          retencio_gruixuts : false,
          retencio_TSS      : false,
          retencio_solubles : false,
          lloc_instalacio   : "Abans sobreixidor",
          recomanacio       : "Per augmentar rendiment hidràulic del sistema",
          neteja_automatica : true,
          energia           : true,
          cobeneficis       : false,
          link_pdf          : "pdf/tanc_anti-DSU.pdf",
        },

        {
          nom               : "Tanc Anti-DSU + deflector",
          retencio_aigua    : true,
          retencio_gruixuts : true,
          retencio_TSS      : false,
          retencio_solubles : false,
          lloc_instalacio   : "Abans sobreixidor",
          recomanacio       : "Per augmentar rendiment hidràulic del sistema",
          neteja_automatica : true,
          energia           : true,
          cobeneficis       : false,
          link_pdf          : "pdf/tanc_anti-DSU-deflector.pdf",
        },

        {
          nom               : "Tanc Anti-DSU + tamís",
          retencio_aigua    : true,
          retencio_gruixuts : true,
          retencio_TSS      : true,
          retencio_solubles : false,
          lloc_instalacio   : "Estructura sobreixidor	",
          recomanacio       : "Per augmentar rendiment hidràulic del sistema i per grans volums i estructures laterals",
          neteja_automatica : true,
          energia           : true,
          cobeneficis       : false,
          link_pdf          : "pdf/tanc_anti-DSU-tamis.pdf",
        },

        {
          nom               : "Deflector",
          retencio_aigua    : false,
          retencio_gruixuts : true,
          retencio_TSS      : false,
          retencio_solubles : false,
          lloc_instalacio   : "Estructura sobreixidor	",
          recomanacio       : "Per estructures DSU laterals"      ,
          neteja_automatica : false,
          energia           : false,
          cobeneficis       : false,
          link_pdf          : "pdf/Deflector.pdf",
        },

        {
          nom               : "Tamisos",
          retencio_aigua    : false,
          retencio_gruixuts : true,
          retencio_TSS      : true,
          retencio_solubles : false,
          lloc_instalacio   : "Estructura sobreixidor	",
          recomanacio       : "Per estructures DSU laterals"      ,
          neteja_automatica : true,
          energia           : true,
          cobeneficis       : false,
          link_pdf          : "pdf/Tamisos.pdf",
        },

        {
          nom               : "Grapes",
          retencio_aigua    : false,
          retencio_gruixuts : true,
          retencio_TSS      : false,
          retencio_solubles : false,
          lloc_instalacio   : "Sortida_sobreixidor",
          recomanacio       : "Per grans volums i estructures DSU frontals",
          neteja_automatica : false,
          energia           : false,
          cobeneficis       : false,
          link_pdf          : "pdf/Grapes.pdf",
        },

        {
          nom               : "Reixes",
          retencio_aigua    : false,
          retencio_gruixuts : true,
          retencio_TSS      : false,
          retencio_solubles : false,
          lloc_instalacio   : "Sortida_sobreixidor",
          recomanacio       : "Per grans volums i estructures DSU frontals",
          neteja_automatica : false,
          energia           : false,
          cobeneficis       : false,
          link_pdf          : "pdf/Reixes.pdf",
        },

        {
          nom               : "Cistelles",
          retencio_aigua    : false,
          retencio_gruixuts : true,
          retencio_TSS      : false,
          retencio_solubles : false,
          lloc_instalacio   : "Sortida_sobreixidor",
          recomanacio       : "Per grans volums i estructures DSU frontals",
          neteja_automatica : false,
          energia           : false,
          cobeneficis       : false,
          link_pdf          : "pdf/Cistelles.pdf",
        },

        {
          nom               : "Aiguamoll artificial",
          retencio_aigua    : false,
          retencio_gruixuts : false,
          retencio_TSS      : false,
          retencio_solubles : true,
          lloc_instalacio   : "Sortida_sobreixidor",
          recomanacio       : "Per protegir medi receptor sensible",
          neteja_automatica : false,
          energia           : false,
          cobeneficis       : true,
          link_pdf          : "pdf/aiguamoll_artificial.pdf",
        },
      ],

      autors:[
        {
          nom:"Lluís Corominas",
          foto:"img/lcorominas.webp",
          correu:"lcorominas@icra.cat",
          afiliació:"ICRA - Investigador",
        },
        {
          nom:"Joaquim Comas",
          foto:"img/jcomas.webp",
          correu:"jcomas@icra.cat",
          afiliació:"ICRA - Investigador",
        },
        {
          nom:"Sílvia Busquets",
          foto:"img/sbusquets.webp",
          correu:"sbusquets@icra.cat",
          afiliació:"ICRA - Tècnica d'Investigació Avançada",
        },
        {
          nom:"Lluís Bosch",
          foto:"img/foto_perfil_generica.webp",
          correu:"lbosch@icra.cat",
          afiliació:"ICRA - Programador",
        },
        {
          nom:"Nicole Aguiar",
          foto:"img/foto_perfil_generica.webp",
          correu:"nicole.aguiar@udg.edu",
          afiliació:"LEQUIA",
        },

        {
          nom:"Narcís Pi",
          foto:"img/foto_perfil_generica.webp",
          correu:"TODO",
          afiliació:"ABM",
        },
        {
          nom:"Georgina Conesa",
          foto:"img/foto_perfil_generica.webp",
          correu:"TODO",
          afiliació:"ABM",
        },

        {
          nom:"David Güell",
          foto:"img/foto_perfil_generica.webp",
          correu:"TODO",
          afiliació:"Aigües de Manresa",
        },
        {
          nom:"Mireia Fèlix",
          foto:"img/foto_perfil_generica.webp",
          correu:"TODO",
          afiliació:"Aigües de Manresa",
        },
        {
          nom:"Maria Jou",
          foto:"img/foto_perfil_generica.webp",
          correu:"TODO",
          afiliació:"Aigües de Manresa",
        },
        {
          nom:"Joaquim Cecchini",
          foto:"img/foto_perfil_generica.webp",
          correu:"TODO",
          afiliació:"Aigües de Manresa",
        },


      ],
    }},

    computed:{
      get_solucions(){
        if(Object.values(this.filtres).every(v=>v==false)){
          return this.solucions;
        }
        let keys = Object.keys(this.filtres);
        return this.solucions.filter(sol=>{
          return keys.every(key=>{
            if(this.filtres[key]){
              return sol[key];
            }else{
              return true;
            }
          });
        });
      },
    },

    methods:{
      descarrega_pdf(solucio){
        let link = solucio.link_pdf;
        if(!link) return;
        window.open(link);
      },

      veure_en_3d(solucio){
        alert("En desenvolupament");
      },

      obre_link(link){
        window.open('https://'+link);
      },
    },
  }).mount("#app");
</script>
